.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page footer */
.footer {
  padding-top: 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.usecase {
	padding-top: 10px;
	height: 200px;
	background-color: #e5e5e5;
}

.card {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid green;
}

.player {
	padding: 10px;
	margin-top: 10px;
	border: 1px solid red;
}

.player-summary {
  text-align: center;
}
